name: Upload Python Package

on:
  release:
    types: [published,created] # Triggers the workflow when a release is published

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    environment:
      name: pypi # Must match the environment name configured on PyPI (if used)
    permissions:
      contents: read
      id-token: write # Mandatory for OIDC trusted publishing

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.x"
    - name: Install dependencies
      run: python -m pip install --upgrade pip build
    - name: Build package
      run: python -m build
    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      # No username or password needed; OIDC handles authentication
